@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font: 'Inter', sans-serif;
    --background: 250, 250, 250;
    --white: #fff;
    --primary: 255, 91, 20;
    --title-color: #262626;
    --text-color: #737373;
    --foreground: #f5f5f5;
    --border: rgb(230, 230, 230);
    --price-color: 46, 184, 46;
    --red: 239, 68, 68;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    font-family: var(--font);
    background-color: rgb(var(--background));
}

/* HERO */

.hero {
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    box-sizing: border-box;

    background: url('../assets/hero-restaurant.jpg');
    background-position: center;
    background-size: cover;
}

.hero_overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.hero_heading {
    z-index: 10;
}

.hero_heading_logo {
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 0 auto 1rem;
    border-radius: 50%;
}

.hero_heading_title {
    margin: 0 0 .5rem;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.hero_heading_text {
    margin: 0;
    color: var(--white);
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
}

/* TAGS */

.tags {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75rem;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
}

.tag {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .75rem;
    border-radius: .75rem;
    color: var(--text-color);
    font-size: .75rem;
    line-height: 1.25;
    text-align: center;
    background: var(--foreground);
    box-sizing: border-box;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    cursor: default;
}

/* CATEGORIES */

.categories {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .75rem 1rem;
    border-bottom: 1px solid var(--border);
    overflow-x: auto;
    box-sizing: border-box;
}

.categorie {
    padding-bottom: .5rem;
    border-bottom: 2px solid transparent;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    transition: ease-in-out 150ms;
}

.categorie:hover {
    border-bottom: 2px solid rgb(var(--primary));
    color: var(--title-color);
}

/* MENU */

.menu {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 0 1rem;
    margin-top: .75rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--white);
    box-sizing: border-box;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.item:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.item:first-child {
    margin: 0;
}

.item_title {
    margin: 0 0 .25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--title-color);
}

.item_text {
    margin: 0 0 .25rem;
    font-size: .875rem;
    line-height: 1.625;
    color: var(--text-color);
}

.item_price {
    margin: 0;
    font-size: .75rem;
    line-height: 1rem;
    color: var(--text-color);
}

.item_price_highlight {
    margin: 0 .25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(var(--price-color));
}

.item_preview {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: block;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: .75rem;
}