/* MODALS */

.modal {
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100dvh;
    background-color: rgb(var(--background));
    z-index: 20;
}

.modal_content {
    position: relative;
}

.modal_actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}

.modal_hero {
    width: 100%;
    min-height: 18.75rem;
    max-height: 25rem;
    height: 45vh;
}

.modal_hero_preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal_item {
    position: relative;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.modal_item::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    border-radius: 5rem 5rem 0 0;
    background-color: rgb(var(--background));
}

.modal_item_information {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.25rem;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, .1);
    background-color: var(--white);
}

.item_heading_title {
    margin: 0 0 .75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--title-color);
}

.item_heading_tag {
    display: inline-flex;
    align-items: center;
    gap: .375rem;
    padding: .25rem .625rem;
    border: 1px solid var(--border);
    border-radius: 2rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.item_heading_tag_icon {
    width: .875rem;
    height: .875rem;
    stroke: rgb(var(--red));
}

.item_heading_text {
    margin: .75rem 0 0;
    font-size: .875rem;
    line-height: 1.625;
    color: var(--text-color);
}