<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio Digital</title>
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/modal.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <header class="heading">
            <div class="heading_background" :style="{ backgroundImage: 'url(' + restaurant.background + ')' }"></div>
            <div class="heading_description">
                <img :src="restaurant.logo" alt="Background do restaurente" class="heading_logo">
                <h1 class="heading_name">{{ restaurant.name }}</h1>
                <p class="heading_text">{{ restaurant.text }}</p>
            </div>
        </header>
        <main class="main">
            <div class="restaurant_items">
                <div class="item" v-for="item in items" :key="item.id" @click="openModal(item)">
                    <h2 class="item_title">{{ item.title }}</h2>
                    <p class="item_text">{{ item.text }}</p>
                    <p class="item_price">a partir de <span class="item_price_highlight">R${{ item.price.toFixed(2) }}</span></p>
                    <img :src="item.preview" alt="Imagem do prato" class="item_preview">
                </div>
            </div>
        </main>



        <div class="modal" v-if="selectedItem">
            <div class="modal_overlay"></div>
            <div class="modal_content">
                <div class="modal_hero">
                    <img :src="selectedItem.preview" alt="Imagem do prato" class="modal_hero_background">
                    <div class="modal_actions">
                        <button class="modal_close" @click="closeModal">Fechar</button>
                    </div>
                </div>
                <div class="modal_body">
                    <div class="modal_item">
                        <h3 class="modal_item_title">{{ selectedItem.title }}</h3>
                        <p class="modal_item_text">{{ selectedItem.text }}</p>
                        <div class="modal_separator"></div>
                        <div class="modal_item_cart">
                            <p class="modal_item_price">R${{ selectedItem.price.toFixed(2) }}</p>
                            <div class="item_quantity">
                                <span class="item_quantity_minus" @click="selectedItem.quantity > 1 ? selectedItem.quantity-- : null">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="item_quantity_minus_icon"><path d="M5 12h14"/></svg>
                                </span>
                                <span class="item_quantity_amount">{{ selectedItem.quantity }}</span>
                                <span class="item_quantity_more" @click="selectedItem.quantity++">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="item_quantity_more_icon"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                                </span>
                            </div>
                            <button class="item_add_cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="item_add_cart_icon"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
                                Adicionar ao carrinho
                            </button>
                        </div>
                    </div>
                    <div class="modal_information">
                        <h4 class="modal_additionals_title">Adicionais</h4>
                        <div class="modal_additionals">
                            <div class="modal_additional" v-for="additional in selectedItem.additionals">
                                <label class="modal_additional_title"><input type="checkbox" name="additional">{{ additional.name }}</label>
                                <span class="modal_additional_price">+R${{ additional.price.toFixed(2) }}</span>
                            </div>
                        </div>
                        <h4 class="modal_note_title">Observações</h4>
                        <textarea placeholder="Sem cebola, sem pimenta, ponto da carne..." class="modal_note_input"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>